
@font-face {
    font-family: Material-Design-Iconic-Font;
    font-display: swap;
    src: url(../fonts/Material-Design-Iconic-Fontd1f1.html?v=2.2.0) format('woff2'), url(../fonts/Material-Design-Iconic-Fontd1f1.woff?v=2.2.0) format('woff'), url(../fonts/Material-Design-Iconic-Fontd1f1.ttf?v=2.2.0) format('truetype');
    font-weight: 400;
    font-style: normal
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 Material-Design-Iconic-Font;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.zmdi-space-bar:before {
    content: '\f255'
}

.zmdi-gamepad:before {
    content: '\f298'
}

.zmdi-space-bar:before {
    content: '\f255'
}

.zmdi-gamepad:before {
    content: '\f298'
}


@font-face {
    font-family: FontAwesome;
    font-display: swap;
    src: url(../fonts/fontawesome-webfont3e6e.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont3e6e.html?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont3e6e.woff?v=4.7.0) format('woff'), url(../fonts/fontawesome-webfont3e6e.ttf?v=4.7.0) format('truetype'), url(../fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-check:before {
    content: "\f00c"
}

.fa-home:before {
    content: "\f015"
}

.fa-arrows:before {
    content: "\f047"
}

.fa-repeat:before,
.fa-rotate-right:before {
    content: "\f01e"
}

.fa-angle-double-up:before {
    content: "\f102"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-gamepad:before {
    content: "\f11b"
}

.fa-address-card:before,
.fa-vcard:before {
    content: "\f2bb"
}

[class*=" ti-"],
[class^=ti-] {
    font-family: themify;
    font-display: swap;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-action-redo,
.icon-action-undo,
.icon-anchor,
.icon-arrow-down,
.icon-arrow-down-circle,
.icon-arrow-left,
.icon-arrow-left-circle,
.icon-arrow-right,
.icon-arrow-right-circle,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-badge,
.icon-bag,
.icon-ban,
.icon-basket,
.icon-basket-loaded,
.icon-bell,
.icon-book-open,
.icon-briefcase,
.icon-bubble,
.icon-bubbles,
.icon-bulb,
.icon-calculator,
.icon-calendar,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-camera,
.icon-camrecorder,
.icon-chart,
.icon-check,
.icon-chemistry,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-compass,
.icon-control-end,
.icon-control-forward,
.icon-control-pause,
.icon-control-play,
.icon-control-rewind,
.icon-control-start,
.icon-credit-card,
.icon-crop,
.icon-cup,
.icon-cursor,
.icon-cursor-move,
.icon-diamond,
.icon-direction,
.icon-directions,
.icon-disc,
.icon-dislike,
.icon-doc,
.icon-docs,
.icon-drawer,
.icon-drop,
.icon-earphones,
.icon-earphones-alt,
.icon-emotsmile,
.icon-energy,
.icon-envelope,
.icon-envelope-letter,
.icon-envelope-open,
.icon-equalizer,
.icon-event,
.icon-exclamation,
.icon-eye,
.icon-eyeglass,
.icon-feed,
.icon-film,
.icon-fire,
.icon-flag,
.icon-folder,
.icon-folder-alt,
.icon-frame,
.icon-game-controller,
.icon-ghost,
.icon-globe,
.icon-globe-alt,
.icon-graduation,
.icon-graph,
.icon-grid,
.icon-handbag,
.icon-heart,
.icon-home,
.icon-hourglass,
.icon-info,
.icon-key,
.icon-layers,
.icon-like,
.icon-link,
.icon-list,
.icon-location-pin,
.icon-lock,
.icon-lock-open,
.icon-login,
.icon-logout,
.icon-loop,
.icon-magic-wand,
.icon-magnet,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-map,
.icon-menu,
.icon-microphone,
.icon-minus,
.icon-mouse,
.icon-music-tone,
.icon-music-tone-alt,
.icon-mustache,
.icon-note,
.icon-notebook,
.icon-options,
.icon-options-vertical,
.icon-organization,
.icon-paper-clip,
.icon-paper-plane,
.icon-paypal,
.icon-pencil,
.icon-people,
.icon-phone,
.icon-picture,
.icon-pie-chart,
.icon-pin,
.icon-plane,
.icon-playlist,
.icon-plus,
.icon-power,
.icon-present,
.icon-printer,
.icon-puzzle,
.icon-question,
.icon-refresh,
.icon-reload,
.icon-rocket,
.icon-screen-desktop,
.icon-screen-smartphone,
.icon-screen-tablet,
.icon-settings,
.icon-share,
.icon-share-alt,
.icon-shield,
.icon-shuffle,
.icon-size-actual,
.icon-size-fullscreen,
.icon-social-behance,
.icon-social-dribbble,
.icon-social-dropbox,
.icon-social-facebook,
.icon-social-foursqare,
.icon-social-github,
.icon-social-google,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-reddit,
.icon-social-skype,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-steam,
.icon-social-stumbleupon,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-vkontakte,
.icon-social-youtube,
.icon-speech,
.icon-speedometer,
.icon-star,
.icon-support,
.icon-symbol-female,
.icon-symbol-male,
.icon-tag,
.icon-target,
.icon-trash,
.icon-trophy,
.icon-umbrella,
.icon-user,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-vector,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-wallet,
.icon-wrench {
    font-family: simple-line-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-menu:before {
    content: "\e601"
}

@font-face {
    font-family: themify;
    font-display: swap;
    src: url(../fonts/themify9f24.eot?-fvbane);
    src: url(../fonts/themifyd41d.eot?#iefix-fvbane) format('embedded-opentype'), url(../fonts/themify9f24.woff?-fvbane) format('woff'), url(../fonts/themify9f24.ttf?-fvbane) format('truetype'), url(../fonts/themify9f24.svg?-fvbane#themify) format('svg');
    font-weight: 400;
    font-style: normal
}

.ti-hand-point-down:before {
    content: "\e71d"
}

@font-face {
    font-family: simple-line-icons;
    font-display: swap;
    src: url(../fonts/Simple-Line-Iconsb26c.eot?v=2.4.0);
    src: url(../fonts/Simple-Line-Iconsb26c.eot?v=2.4.0#iefix) format('embedded-opentype'), url(../fonts/Simple-Line-Iconsb26c.html?v=2.4.0) format('woff2'), url(../fonts/Simple-Line-Iconsb26c.ttf?v=2.4.0) format('truetype'), url(../fonts/Simple-Line-Iconsb26c.woff?v=2.4.0) format('woff'), url(../fonts/Simple-Line-Iconsb26c.svg?v=2.4.0#simple-line-icons) format('svg');
    font-weight: 400;
    font-style: normal
}

.icon-action-redo,
.icon-action-undo,
.icon-anchor,
.icon-arrow-down,
.icon-arrow-down-circle,
.icon-arrow-left,
.icon-arrow-left-circle,
.icon-arrow-right,
.icon-arrow-right-circle,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-badge,
.icon-bag,
.icon-ban,
.icon-basket,
.icon-basket-loaded,
.icon-bell,
.icon-book-open,
.icon-briefcase,
.icon-bubble,
.icon-bubbles,
.icon-bulb,
.icon-calculator,
.icon-calendar,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-camera,
.icon-camrecorder,
.icon-chart,
.icon-check,
.icon-chemistry,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-compass,
.icon-control-end,
.icon-control-forward,
.icon-control-pause,
.icon-control-play,
.icon-control-rewind,
.icon-control-start,
.icon-credit-card,
.icon-crop,
.icon-cup,
.icon-cursor,
.icon-cursor-move,
.icon-diamond,
.icon-direction,
.icon-directions,
.icon-disc,
.icon-dislike,
.icon-doc,
.icon-docs,
.icon-drawer,
.icon-drop,
.icon-earphones,
.icon-earphones-alt,
.icon-emotsmile,
.icon-energy,
.icon-envelope,
.icon-envelope-letter,
.icon-envelope-open,
.icon-equalizer,
.icon-event,
.icon-exclamation,
.icon-eye,
.icon-eyeglass,
.icon-feed,
.icon-film,
.icon-fire,
.icon-flag,
.icon-folder,
.icon-folder-alt,
.icon-frame,
.icon-game-controller,
.icon-ghost,
.icon-globe,
.icon-globe-alt,
.icon-graduation,
.icon-graph,
.icon-grid,
.icon-handbag,
.icon-heart,
.icon-home,
.icon-hourglass,
.icon-info,
.icon-key,
.icon-layers,
.icon-like,
.icon-link,
.icon-list,
.icon-location-pin,
.icon-lock,
.icon-lock-open,
.icon-login,
.icon-logout,
.icon-loop,
.icon-magic-wand,
.icon-magnet,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-map,
.icon-menu,
.icon-microphone,
.icon-minus,
.icon-mouse,
.icon-music-tone,
.icon-music-tone-alt,
.icon-mustache,
.icon-note,
.icon-notebook,
.icon-options,
.icon-options-vertical,
.icon-organization,
.icon-paper-clip,
.icon-paper-plane,
.icon-paypal,
.icon-pencil,
.icon-people,
.icon-phone,
.icon-picture,
.icon-pie-chart,
.icon-pin,
.icon-plane,
.icon-playlist,
.icon-plus,
.icon-power,
.icon-present,
.icon-printer,
.icon-puzzle,
.icon-question,
.icon-refresh,
.icon-reload,
.icon-rocket,
.icon-screen-desktop,
.icon-screen-smartphone,
.icon-screen-tablet,
.icon-settings,
.icon-share,
.icon-share-alt,
.icon-shield,
.icon-shuffle,
.icon-size-actual,
.icon-size-fullscreen,
.icon-social-behance,
.icon-social-dribbble,
.icon-social-dropbox,
.icon-social-facebook,
.icon-social-foursqare,
.icon-social-github,
.icon-social-google,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-reddit,
.icon-social-skype,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-steam,
.icon-social-stumbleupon,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-vkontakte,
.icon-social-youtube,
.icon-speech,
.icon-speedometer,
.icon-star,
.icon-support,
.icon-symbol-female,
.icon-symbol-male,
.icon-tag,
.icon-target,
.icon-trash,
.icon-trophy,
.icon-umbrella,
.icon-user,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-vector,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-wallet,
.icon-wrench {
    font-family: simple-line-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-people:before {
    content: "\e001"
}

.icon-lock::before {
    content: "\e08e"
}

.icon-menu::before {
    content: "\e601"
}

.icon-action-redo,
.icon-action-undo,
.icon-anchor,
.icon-arrow-down,
.icon-arrow-down-circle,
.icon-arrow-left,
.icon-arrow-left-circle,
.icon-arrow-right,
.icon-arrow-right-circle,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-badge,
.icon-bag,
.icon-ban,
.icon-basket,
.icon-basket-loaded,
.icon-bell,
.icon-book-open,
.icon-briefcase,
.icon-bubble,
.icon-bubbles,
.icon-bulb,
.icon-calculator,
.icon-calendar,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-camera,
.icon-camrecorder,
.icon-chart,
.icon-check,
.icon-chemistry,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-compass,
.icon-control-end,
.icon-control-forward,
.icon-control-pause,
.icon-control-play,
.icon-control-rewind,
.icon-control-start,
.icon-credit-card,
.icon-crop,
.icon-cup,
.icon-cursor,
.icon-cursor-move,
.icon-diamond,
.icon-direction,
.icon-directions,
.icon-disc,
.icon-dislike,
.icon-doc,
.icon-docs,
.icon-drawer,
.icon-drop,
.icon-earphones,
.icon-earphones-alt,
.icon-emotsmile,
.icon-energy,
.icon-envelope,
.icon-envelope-letter,
.icon-envelope-open,
.icon-equalizer,
.icon-event,
.icon-exclamation,
.icon-eye,
.icon-eyeglass,
.icon-feed,
.icon-film,
.icon-fire,
.icon-flag,
.icon-folder,
.icon-folder-alt,
.icon-frame,
.icon-game-controller,
.icon-ghost,
.icon-globe,
.icon-globe-alt,
.icon-graduation,
.icon-graph,
.icon-grid,
.icon-handbag,
.icon-heart,
.icon-home,
.icon-hourglass,
.icon-info,
.icon-key,
.icon-layers,
.icon-like,
.icon-link,
.icon-list,
.icon-location-pin,
.icon-lock,
.icon-lock-open,
.icon-login,
.icon-logout,
.icon-loop,
.icon-magic-wand,
.icon-magnet,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-map,
.icon-menu,
.icon-microphone,
.icon-minus,
.icon-mouse,
.icon-music-tone,
.icon-music-tone-alt,
.icon-mustache,
.icon-note,
.icon-notebook,
.icon-options,
.icon-options-vertical,
.icon-organization,
.icon-paper-clip,
.icon-paper-plane,
.icon-paypal,
.icon-pencil,
.icon-people,
.icon-phone,
.icon-picture,
.icon-pie-chart,
.icon-pin,
.icon-plane,
.icon-playlist,
.icon-plus,
.icon-power,
.icon-present,
.icon-printer,
.icon-puzzle,
.icon-question,
.icon-refresh,
.icon-reload,
.icon-rocket,
.icon-screen-desktop,
.icon-screen-smartphone,
.icon-screen-tablet,
.icon-settings,
.icon-share,
.icon-share-alt,
.icon-shield,
.icon-shuffle,
.icon-size-actual,
.icon-size-fullscreen,
.icon-social-behance,
.icon-social-dribbble,
.icon-social-dropbox,
.icon-social-facebook,
.icon-social-foursqare,
.icon-social-github,
.icon-social-google,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-reddit,
.icon-social-skype,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-steam,
.icon-social-stumbleupon,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-vkontakte,
.icon-social-youtube,
.icon-speech,
.icon-speedometer,
.icon-star,
.icon-support,
.icon-symbol-female,
.icon-symbol-male,
.icon-tag,
.icon-target,
.icon-trash,
.icon-trophy,
.icon-umbrella,
.icon-user,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-vector,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-wallet,
.icon-wrench {
    font-family: simple-line-icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.icon-action-redo,
.icon-action-undo,
.icon-anchor,
.icon-arrow-down,
.icon-arrow-down-circle,
.icon-arrow-left,
.icon-arrow-left-circle,
.icon-arrow-right,
.icon-arrow-right-circle,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-badge,
.icon-bag,
.icon-ban,
.icon-basket,
.icon-basket-loaded,
.icon-bell,
.icon-book-open,
.icon-briefcase,
.icon-bubble,
.icon-bubbles,
.icon-bulb,
.icon-calculator,
.icon-calendar,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-camera,
.icon-camrecorder,
.icon-chart,
.icon-check,
.icon-chemistry,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-compass,
.icon-control-end,
.icon-control-forward,
.icon-control-pause,
.icon-control-play,
.icon-control-rewind,
.icon-control-start,
.icon-credit-card,
.icon-crop,
.icon-cup,
.icon-cursor,
.icon-cursor-move,
.icon-diamond,
.icon-direction,
.icon-directions,
.icon-disc,
.icon-dislike,
.icon-doc,
.icon-docs,
.icon-drawer,
.icon-drop,
.icon-earphones,
.icon-earphones-alt,
.icon-emotsmile,
.icon-energy,
.icon-envelope,
.icon-envelope-letter,
.icon-envelope-open,
.icon-equalizer,
.icon-event,
.icon-exclamation,
.icon-eye,
.icon-eyeglass,
.icon-feed,
.icon-film,
.icon-fire,
.icon-flag,
.icon-folder,
.icon-folder-alt,
.icon-frame,
.icon-game-controller,
.icon-ghost,
.icon-globe,
.icon-globe-alt,
.icon-graduation,
.icon-graph,
.icon-grid,
.icon-handbag,
.icon-heart,
.icon-home,
.icon-hourglass,
.icon-info,
.icon-key,
.icon-layers,
.icon-like,
.icon-link,
.icon-list,
.icon-location-pin,
.icon-lock,
.icon-lock-open,
.icon-login,
.icon-logout,
.icon-loop,
.icon-magic-wand,
.icon-magnet,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-map,
.icon-menu,
.icon-microphone,
.icon-minus,
.icon-mouse,
.icon-music-tone,
.icon-music-tone-alt,
.icon-mustache,
.icon-note,
.icon-notebook,
.icon-options,
.icon-options-vertical,
.icon-organization,
.icon-paper-clip,
.icon-paper-plane,
.icon-paypal,
.icon-pencil,
.icon-people,
.icon-phone,
.icon-picture,
.icon-pie-chart,
.icon-pin,
.icon-plane,
.icon-playlist,
.icon-plus,
.icon-power,
.icon-present,
.icon-printer,
.icon-puzzle,
.icon-question,
.icon-refresh,
.icon-reload,
.icon-rocket,
.icon-screen-desktop,
.icon-screen-smartphone,
.icon-screen-tablet,
.icon-settings,
.icon-share,
.icon-share-alt,
.icon-shield,
.icon-shuffle,
.icon-size-actual,
.icon-size-fullscreen,
.icon-social-behance,
.icon-social-dribbble,
.icon-social-dropbox,
.icon-social-facebook,
.icon-social-foursqare,
.icon-social-github,
.icon-social-google,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-reddit,
.icon-social-skype,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-steam,
.icon-social-stumbleupon,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-vkontakte,
.icon-social-youtube,
.icon-speech,
.icon-speedometer,
.icon-star,
.icon-support,
.icon-symbol-female,
.icon-symbol-male,
.icon-tag,
.icon-target,
.icon-trash,
.icon-trophy,
.icon-umbrella,
.icon-user,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-vector,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-wallet,
.icon-wrench {
    font-family: simple-line-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-chrome::before {
    content: "\f268"
}
